/* caratteristiche generali */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* caratteristiche sezioni */

section{
    margin-bottom: 20px;
}

/* colore testo */

.colore-testo{
    color: white;
}

/* caratteristiche bg-colorato */

.bg-colorato{
    background-color: blue;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

/* caratteristiche bg-nest */

.bgnest{
    background-color: green;
    border: 1px solid blue;
    padding: 10px 0;
}

/* caratteristiche spazio senza testo */

.senza-testo{
    background-color: blue;
    border: 1px solid white;
    padding: 20px;
}